USE [master]
GO
/****** Object:  Database [Carpooling]    Script Date: 10/8/2019 4:06:43 PM ******/
CREATE DATABASE [Carpooling]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Carpooling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\Carpooling.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Carpooling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\Carpooling_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Carpooling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Carpooling]
GO
/****** Object:  Table [dbo].[BOOKINGS]    Script Date: 10/8/2019 4:06:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKINGS](
	[Booking_ID] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Route_ID_FK] [varchar](50) NOT NULL,
	[User_ID_FK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BOOKINGS] PRIMARY KEY CLUSTERED 
(
	[Booking_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARS]    Script Date: 10/8/2019 4:06:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARS](
	[Car_ID] [varchar](50) NOT NULL,
	[Number_Plate] [varchar](20) NOT NULL,
	[Make] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Number_Of_Seats] [int] NOT NULL,
	[User_ID_FK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Car_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKPOINTS]    Script Date: 10/8/2019 4:06:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKPOINTS](
	[Checkpoint_ID] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Location] [varchar](max) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Journey_ID_FK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CHECKPOINTS] PRIMARY KEY CLUSTERED 
(
	[Checkpoint_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOURNEYS]    Script Date: 10/8/2019 4:06:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNEYS](
	[Journey_ID] [varchar](50) NOT NULL,
	[Departure_Time] [datetime] NOT NULL,
	[Available_Seats] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Car_ID_FK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_JOURNEYS] PRIMARY KEY CLUSTERED 
(
	[Journey_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROUTES]    Script Date: 10/8/2019 4:06:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROUTES](
	[Route_ID] [varchar](50) NOT NULL,
	[Departure] [varchar](max) NOT NULL,
	[Destination] [varchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Available_Seats] [int] NOT NULL,
	[Journey_ID_FK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROUTES] PRIMARY KEY CLUSTERED 
(
	[Route_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 10/8/2019 4:06:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[User_ID] [varchar](50) NOT NULL,
	[Identity_Number] [varchar](20) NOT NULL,
	[First_Name] [varchar](max) NOT NULL,
	[Last_Name] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[Is_Admin] [bit] NOT NULL,
	[Rating] [float] NOT NULL,
	[Number_Of_Ratings] [int] NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CARS] ([Car_ID], [Number_Plate], [Make], [Model], [Year], [Number_Of_Seats], [User_ID_FK]) VALUES (N'7f5c2381-a00c-49df-baeb-99af77466957', N'Y668', N'Toyota', N'Axio', 2014, 3, N'11a38449-fda7-4d77-8b32-74109f31bf94')
INSERT [dbo].[USERS] ([User_ID], [Identity_Number], [First_Name], [Last_Name], [Email], [Phone], [Password], [Is_Active], [Is_Admin], [Rating], [Number_Of_Ratings]) VALUES (N'11a38449-fda7-4d77-8b32-74109f31bf94', N'N7798', N'Nitesh', N'Seeparsand', N'nitesh@gmail.com', N'54740304', N'5f4dcc3b5aa765d61d8327deb882cf99', 1, 0, 0, 0)
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_ROUTES] FOREIGN KEY([Route_ID_FK])
REFERENCES [dbo].[ROUTES] ([Route_ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_ROUTES]
GO
ALTER TABLE [dbo].[BOOKINGS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKINGS_USERS] FOREIGN KEY([User_ID_FK])
REFERENCES [dbo].[USERS] ([User_ID])
GO
ALTER TABLE [dbo].[BOOKINGS] CHECK CONSTRAINT [FK_BOOKINGS_USERS]
GO
ALTER TABLE [dbo].[CARS]  WITH CHECK ADD  CONSTRAINT [FK_CARS_USERS] FOREIGN KEY([User_ID_FK])
REFERENCES [dbo].[USERS] ([User_ID])
GO
ALTER TABLE [dbo].[CARS] CHECK CONSTRAINT [FK_CARS_USERS]
GO
ALTER TABLE [dbo].[CHECKPOINTS]  WITH CHECK ADD  CONSTRAINT [FK_CHECKPOINTS_JOURNEYS] FOREIGN KEY([Journey_ID_FK])
REFERENCES [dbo].[JOURNEYS] ([Journey_ID])
GO
ALTER TABLE [dbo].[CHECKPOINTS] CHECK CONSTRAINT [FK_CHECKPOINTS_JOURNEYS]
GO
ALTER TABLE [dbo].[JOURNEYS]  WITH CHECK ADD  CONSTRAINT [FK_JOURNEYS_CARS] FOREIGN KEY([Car_ID_FK])
REFERENCES [dbo].[CARS] ([Car_ID])
GO
ALTER TABLE [dbo].[JOURNEYS] CHECK CONSTRAINT [FK_JOURNEYS_CARS]
GO
ALTER TABLE [dbo].[ROUTES]  WITH CHECK ADD  CONSTRAINT [FK_ROUTES_JOURNEYS] FOREIGN KEY([Journey_ID_FK])
REFERENCES [dbo].[JOURNEYS] ([Journey_ID])
GO
ALTER TABLE [dbo].[ROUTES] CHECK CONSTRAINT [FK_ROUTES_JOURNEYS]
GO
USE [master]
GO
